html, body{
	height: 95%;
	font-family: "Oswald";
}

@font-face {
  font-family:"Oswald";
  src: url("../fonts/Oswald-Regular.ttf") format("truetype");
}

h1,h2, h3, h4, h5, h6{
	font-family: "Oswald" !important;
}

h5,p{
	margin-bottom: 0 !important;
}

.header{
	width: 100%;
	height: auto;
	display: flex !important;
	justify-content: center !important;
	margin-top: 3%;
	background-color: #C0C0C0;
}

header div{
	width: 70% !important;
	height: 100% !important;
	display: flex;
}

.header div h2{
	width: 80%;
	font-family: "Oswald";
	font-size: 35px;
	text-align: left;
	margin:0px;
}

section{
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center !important;

}


section input{
	margin-top: 15px;
}

#container-geral{
	height: 80%;
	width: 100% !important;
	margin-top: 3%;
}

#container-tarefas{
	overflow:auto;
	width: 60%;
	height: 100%;
}


.view-desc{
	overflow: auto  !important;
	height: auto !important;
}

#content-read-tarefa div{
margin-top: 20px;

}

.tarefa{
	border-style: solid;
	border-color: grey;
	border-radius: 20px;
	font-family: "Oswald";
	margin-top:10px;
	height: 23%;
	width: 98%;
}

.nome-tarefa{
	margin-left: 10px;
	margin-top: 10px;
	width: 100% !important;
}

.nome-tarefa h5{
	margin-bottom: 0px;
}

.ML5{
	margin-left: 5px;
	margin-bottom: 0px;
}

.criacao{
	margin-left: 10px;
	margin-top: 30px;
	width: 100%;
}

.criacao h5{
	font-size: 1em;
	margin-bottom: 0px;
	color: black;
}

.flex-row{
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
}

.tarefa-id{
	margin-left: 10px;
	width: auto;
	height: auto;
}

.subtarefa{
	width: 50% !important;
	height: 100%;
}

.subtarefa2{
	width: 50% !important;
	height: 100%;
	display: flex !important;
	flex-direction: column !important;
}

.row-reverse{
	display: flex;
	flex-direction: row-reverse;
}

.container-buttons{
	margin-top: 25px;
	margin-right: 10px;
}

.container-buttons button, .container-buttons a{
	margin-right: 10px;
	font-size: 12px;
}

.form-group{
	width: 393px !important;
	margin-bottom: 8px !important;
}

label{
	margin-bottom: 0px !important;
}


.container-priority{
	margin-right: 20px;
	margin-top: 10px;
}

.container-priority  h5{
	margin-right: 5px;
}

.btn-view{
	color: white !important;
}


#header-view{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

#text-view{
	width: auto !important;
}

#tarefa-geral{
	width: 100% !important;
	height: 100% !important;
}

form{
	display: flex !important;
	justify-content: center  !important;
	flex-direction: column !important;
}

.modal-body{
	display: flex !important;
	justify-content: center  !important;
}

#error-prazo{
	text-align: left;
	font-family: "Oswald";
	font-size: 12px;
	color: red;
	margin-left: 260px;
}

#error-prioridade{
	text-align: left;
	font-family: "Oswald";
	font-size: 12px;
	color: red;
	margin-left: 50px;
}

.label-edit-error{
	width: 100% !important;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#content-empty{
	display: flex;
	flex-direction: column;
	justify-content: center !important;
	align-items: center;
	border-style: solid;
	border-color: #4169E1;
	border-radius: 20px;
	padding: 10px;
	font-family: "Oswald";
}

#content-empty p{
	text-align: center;
}

/*images*/
#empty-tarefa{
	width: 6%;
	height: 10%;
	margin-top: 20px;
}